.best-cards{
   
    margin-top: 10%; 
    background-color:khaki;
    width: 95%;
    height: 300px;
    margin-bottom: 5%;
    
    
}
.card_image{
    width: 20%;
    height: 40%;
    position: absolute;
    left: 70%;
    right: 20%;
    transform: translateX(-40%);
    transform: translateY(-55%); 
    
}
.card_heading{
    color: rgb(54, 68, 30);
    padding-left: 5%;
    font-family: serif;
    transform: translateY(50%);
    font-size: 300%;
   
}
.card_para{
    padding-left: 5%;
    width: 50%;
    transform: translateY(50%);
    font-family: serif;
    font-size: 140%;
  
}
.best-card2{
    
    background-color: rgb(145, 94, 57);
    width: 95%;
    height: 300px;
    margin-bottom: 5%
}

